In [5]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
x = [8.0, 1, 2, 1.5, 8, 17]
x_with_nan = [8.0, 1, 2, math.nan, 1.5, 8, 17]

In [3]:
print(x)
print(x_with_nan)

[8.0, 1, 2, 1.5, 8, 17]
[8.0, 1, 2, nan, 1.5, 8, 17]

In [7]:
y, y_with_nan = np.array(x), np.array(x_with_nan)
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)

In [18]:
print(np.mean(y_with_nan))

nan

In [20]:
#weighted mean
w = [0.7, 0.8, 0.1, 0.2, 0.3, 0.7]

In [25]:
wmean = sum(w[i] * x[i] for i in range(len(x)))/sum(w)
wmean

7.57142857142857

In [26]:
wmeanbp = np.average(y, weights= w)
wmeanbp

7.57142857142857

In [29]:
# harmonic mean
harmonicmean_stat = statistics.harmonic_mean(x)
harmonicmean_stat

2.4237623762376237

In [31]:
# geometric mean
gmean = math.sqrt(1/20 * 7)
print(gmean)

0.5916079783099616

In [37]:
# median
data = [8.0, 1, 2, 1.5, 8, 17]
data.sort()
data

[1, 1.5, 2, 8.0, 8, 17]

In [38]:
medianData = np.median(data)
medianData

5.0

In [40]:
# modus
modusData = [1,2,4,5,4,5,6,6,2,3,4,7,7]

modusDataa = max((modusData.count(item), item) for item in set(modusData))[1]
modusDataa

4

In [45]:
modusDataStat = statistics.mode(modusData)
modusDataStat

4

In [46]:
range(2,10)

range(2, 10)

In [47]:
twod = np.array([
    [1,1,1],
    [1,2,4],
    [4,8,9],
    [5,6,7]
    
])

In [50]:
np.mean(twod)

4.083333333333333

In [51]:
row_names =[1,2,3,4]
col_name = ["a","b","c"]

df =pd.DataFrame(twod, index = row_names, columns= col_name)
df

   a  b  c
1  1  1  1
2  1  2  4
3  4  8  9
4  5  6  7

In [55]:
df['a'].mean()

2.75