### Number

In [12]:
#number

myInt = 12
myFloat = 1.5

hasil = myInt + myFloat

print(myInt)
print(myFloat)
print(hasil)

12
1.5
13.5

### String

In [16]:
myString = 'saya'
print(type(myString))

<class 'str'>

### Boolean

In [17]:
myBool = 10

myBool == 10

True

In [15]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

### List

In [2]:
myList = [10, 9, 8, 7]
myList

[10, 9, 8, 7]

In [3]:
myList[:2] = [1, 2, 3]
myList

[1, 2, 3, 8, 7]

### Tuple

In [22]:
myTuple = (1, 2, 3, 4, 5)

print(myTuple)
print(type(myTuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Dictionary

In [5]:
aboutMe = {'name':'Zulkarnain', 'age':21, 'hobbies':['game', 'movie']}

In [6]:
aboutMe

{'name': 'Zulkarnain', 'age': 21, 'hobbies': ['game', 'movie']}

In [8]:
aboutMe['name'] = 'izul'

In [9]:
aboutMe

{'name': 'izul', 'age': 21, 'hobbies': ['game', 'movie']}